.mimodal{
	background-color:white;
	border-radius:10px;
	box-shadow: 0 0 4px black;
	display:none;
	left:16%;
	position:absolute;
	width:70%;
	z-index:9;
}
.mimodal .modal-body{
	overflow: auto;
}
.michat{

}
.michat:before{
	height: 100%;
}
.michat-content:after{
	clear: both;
	content: '';
	display: block;
}
.michat-header{

}
.michat-body{

}
.michat-footer{
	bottom: 0;
	left: 0;
	padding: 0.5em;
	position: absolute;
	width: 100%;
}
.msgbubble{
	border-radius: 0.5em;
	margin-bottom: 0.3em;
}
.msgbubble_msg{
	margin-top: -0.5em;
}
@media screen and (max-width: 800px) {
	.michat-body{
		max-height: 1048px;
	}
}
@media screen and (max-width: 768px) {
	.michat-body{
		max-height: 835px;
	}
}
@media screen and (max-width: 360px) {
	.michat-body{
		max-height: 480px;
	}
}
@media screen and (max-width: 320px) {
	.michat-body{
		max-height: 320px;
	}
}
@media screen and (max-height: 660px) {
	.michat-body{
		max-height: 425px;
	}
}
@media screen and (max-height: 480px) {
	.michat-body{
		max-height: 345px;
	}
}
@media screen and (max-height: 420px) {
	.michat-body{
		max-height: 310px;
	}
}
